<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <!-- limit CONSOLE to be info -->
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%r [%t] %p %c %notEmpty{%x} %notEmpty{%X}- %m%n" />
        </Console>

        <RollingFile name="LOGFILE" filename="map-client-driver.log" filePattern="map-network-file-store-%d{yyyyMMdd-HHmmss}.log">
            <PatternLayout pattern="%r [%t] %p %c %notEmpty{%x} %notEmpty{%X}- %m%n" />
             <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.bbn" level="INFO" />

        <Root level="WARN">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="LOGFILE" />
        </Root>
    </Loggers>

</Configuration>
