
service_command=java,-jar,FaceDetectionServer.jar,7123,face_output
data_collection_command=resmon,--delay,0,--nic,[nic],--nic-outfile,[nic_outfile],--enable-ps,--ps-pids,[pid],--ps-outfile,[ps_outfile]
client_command=java,-jar,ImageSendingClient.jar,localHost,7123,face_input,{images_per_second},{images}

experiment_file=face_recognition_experiment_1-20_client_step.csv

default_repetitions_per_test=1